
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- show message when admin deletes an order -->
      {{#if successMessage}}
        <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3" role="alert">
          {{successMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
      {{/if}}

      <!-- show error message -->
      {{#if errorMessage}}
        <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3" role="alert">
          {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
      {{/if}}
     
        <div class="float-right">
            <input type="button" value="Cancel" class="btn btn-outline-danger" class="cancel" onclick="cancelOrder()">
            <input type="submit" value="Save" class="btn btn-outline-success">
        </div>
      </form> 


    </div>
  </div>
</div>

